<div class="card-group col-6">
    <div class="card mb-3">
        <div class="card-body">
            <article class="container-fluid">
                <div class="post-info">
                    <p class="post-title">{{title}}</p>
                    <p class="subtitle">{{created_at}} by {{user.username}}</p>
                    <p class="post-text">{{post_text}}</p>
                    <a href="/post/{{id}}">{{comments.length}} {{comments.length}} comment(s)</a>
                    <div class="separator">
                        <hr>
                    </div>
                </div>
                <div class="post-text">
                    {{post_text}}
                    <div class="separator"></div>
                    <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
                </div>
            </article>
        </div>
    </div>