{{#each posts as |post|}}
<div class="card-group col-6">
    <div class="card mb-3">
        <div class="card-body">
            <article class="container-fluid">
                <div class="post-info">
                    <p class="post-title">{{post.title}}</p>
                    <p class="subtitle">{{format_date post.created_at}} by {{post.user.username}}</p>
                    <p class="post-text">{{format_length post.post_text}}</p>
                    <a href="/post/{{id}}" class="edit-link">{{post.comments.length}} comment(s)</a>
                    <div class="separator">
                        <hr>
                    </div>
                </div>
                <div class="post-text">
                    {{post_text}}
                    <div class="separator"></div>
                    <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
                </div>
            </article>
        </div>
    </div>
{{/each}}