<div class="card-group col-6">
    <div class="card">
        <div class="card-body">
            <section>
                <h2 class="blog-header">Get to Bloggin!</h2>
                <form class="new-post-form">
                    <div>
                        <label for="post-title">Blogs Title</label>
                        <input type="text" class="form-control" id="post-title" name="post-title"/>
                    </div>
                    <div>
                        <label for="post-content">Text Area</label>
                        <textarea title="label" name="post-content" id="post-content" class="form-control"></textarea>
                        {{!-- <input id="post-url" class="form-control" name="post-url"/> --}}
                    </div>
                    <button type="submit" class="button">Create</button>
                </form>
            </section>
        </div>
    </div>
</div>

{{#if posts.length}}
    {{#each posts as |post|}}
  <h2 class="your-post">Your Posts</h2>
    <li>
      <div class="card-group col-6">
        <div class="card mb-3">
            <div class="card-body">
                <article class="container-fluid">
                    <div class="post-info">
                         <p class="post-title">{{post.title}}</p>
                         <p class="subtitle">{{post.created_at}} by {{post.user.username}}</p>
                         <p class="post-text">{{post.post_text}}</p>
                         <a href="/post/{{id}}">{{comments.length}} {{post.comments.length}} comment(s)</a>
                        <div class="separator"><hr></div> 
                    </div>
                    <div class="post-text">
                         {{post.post_text}}
                        <div class="separator"></div>
                        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                    </div>
                </article>
            </div>
        </div>
    </li>
      
    {{/each}}
{{/if}}
<script src="/javascript/add-post.js"></script>